// Styling for the masthead
header.masthead {
  padding-top: 10rem;
  padding-bottom: calc(10rem - #{$navbar-height});
  // replace the masthead.jpg image in the /img directory to change the image
  // if the image name change, make sure to update the url path below!
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://cdn.glitch.com/f23b8598-8c75-4b1a-83f7-6d57abc0ee65%2F_DSC9203%20(1).jpg?v=1571377152465");
   background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
 
  h1 {
    font-size: 2.5rem;
    font-family: "playlistscript";
  }
  @include media-breakpoint-up(lg) {
    height: 100vh;
    min-height: 40rem;
    padding-top: $navbar-height;
    padding-bottom: 0;
    p {
      font-size: 1.15rem;
    }
    h1 {
      font-size: 3rem;
      font-family: "playlistscript";
    }
  }
  @include media-breakpoint-up(xl) {
    h1 {
      font-size: 3.5rem;
      font-family: "playlistscript";
    }
  }
}
